/* ----------------- */
/* Global rules */
/* ----------------- */
:root {
  --green: #9afecc;
  --light-grey: #f5f4f4;
  --dark-grey: #2d2f30;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Barlow", Georgia, "Times New Roman", Times, serif;
}

body .dark-mode {
  background-color: var(--dark-grey);
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 30px;
}

/* ----------------- */
/* Header */
/* ----------------- */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 40px;
  border-bottom: solid 1px var(--green);
}

header > div {
  display: flex;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  color: var(--dark-grey);
}

.list-icon {
  font-size: 60px;
  color: var(--green);
  margin-right: 40px;
}

header > div:last-child {
  flex-direction: column;
  align-items: center;
}

h3 {
  color: var(--dark-grey);
  font-size: 16px;
}

/* Header in dark mode */

.dark-mode header {
  border-bottom: solid 1px var(--green);
}

.dark-mode h1 {
  color: white;
}

.dark-mode .list-icon {
  color: white;
}

.dark-mode h3 {
  color: var(--green);
}

/* ----------------- */
/* Main */
/* ----------------- */

main {
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Task */
.task {
  background-color: var(--light-grey);
  height: 30px;
  width: 380px;
  margin-bottom: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid transparent;
}

.important {
  border: 2px tomato solid;
}

.icon-checkbox {
  margin-right: 5px;
  margin-top: 2px;
}

.task p {
  font-size: 18px;
  width: 300px;
  height: 20px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.task p::-webkit-scrollbar {
  display: none;
}

.two-columns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.two-columns .task:nth-child(odd) {
  margin-right: 20px;
}

.task > div {
  display: flex;
}

input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

.task > span {
  color: var(--purple);
  cursor: pointer;
}

.crossed {
  text-decoration: line-through;
}

/* Task on dark mode */
.dark-mode .task {
  background-color: var(--green);
}

.dark-mode .task p {
  color: var(--dark-grey);
}

.dark-mode .task > span {
  color: var(--dark-grey);
}

/* Search */

form {
  margin-top: 20px;
}

form > div {
  display: flex;
  align-items: center;
}

input[type="text"] {
  height: 35px;
  width: 300px;
  margin-right: 20px;
  padding: 5px 10px;
  font-family: inherit;
  font-size: 18px;
  border: 1px solid var(--green);
}

input[type="text"]:focus {
  border: 2px solid var(--green);
}

input[type="submit"] {
  background-color: var(--green);
  color: var(--dark-grey);
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 120px;
  cursor: pointer;
}

.disabled {
  opacity: 0.85;
}

form p {
  font-style: italic;
  font-size: 14px;
  color: var(--purple);
  margin-top: 5px;
}

/* Search on dark mode */

.dark-mode input[type="text"] {
  background-color: white;
  border: 1px solid var(--green);
  color: var(--dark-grey);
}

.dark-mode ::placeholder,
.dark-mode:-ms-input-placeholder,
.dark-mode::-ms-input-placeholder {
  color: var(--dark-grey);
  opacity: 0.9;
}

/* ----------------- */
/* Footer */
/* ----------------- */

footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid 1px var(--green);
}

footer img {
  width: 40px;
  margin-right: 15px;
}

footer a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  font-weight: bold;
  font-size: 18px;
}

footer a:hover {
  color: var(--green);
}

/* Footer on dark Mode */

.dark-mode footer {
  border-top: solid 1px var(--green);
}

.dark-mode footer p {
  color: white;
}

/* ----------------------------------------------------- */
/* Media Queries */
/* ----------------------------------------------------- */

/* ----------------- */
/* max  992px*/
/* ----------------- */

@media (max-width: 992px) {
  /* Header */
  header {
    height: 70px;
    padding: 0 30px;
  }

  h1 {
    font-size: 40px;
  }

  .list-icon {
    font-size: 50px;
    margin-right: 30px;
  }

  header button {
    width: 140px;
    height: 40px;
    font-size: 16px;
  }
  /* Main */
  main {
    min-height: calc(100vh - 140px);
  }

  /* Task */
  .two-columns .task {
    width: 320px;
  }

  .two-columns p {
    font-size: 16px;
    width: 260px;
  }

  .two-columns .task:nth-child(odd) {
    margin-right: 15px;
  }

  /* Footer */

  footer {
    height: 70px;
  }

  footer img {
    width: 35px;
  }

  footer p,
  footer a {
    font-size: 16px;
  }
}

/* ----------------- */
/* max  768px*/
/* ----------------- */

@media (max-width: 768px) {
  /* Header */
  header {
    height: 60px;
    padding: 0 20px;
  }

  h1 {
    font-size: 35px;
  }

  .list-icon {
    font-size: 45px;
    margin-right: 20px;
  }

  header button {
    width: 120px;
    height: 35px;
    font-size: 14px;
  }

  /* Main */
  main {
    min-height: calc(100vh - 120px);
  }

  /* Task */
  .two-columns .task:nth-child(odd) {
    margin-right: 0;
  }

  /* Footer */
  footer {
    height: 60px;
  }

  footer img {
    width: 30px;
  }

  footer p,
  footer a {
    font-size: 14px;
  }
}

/* ----------------- */
/* max  414px*/
/* ----------------- */
@media (max-width: 414px) {
  /* Header */

  h1 {
    font-size: 30px;
  }

  .list-icon {
    font-size: 35px;
    margin-right: 10px;
  }

  header button {
    width: 110px;
    height: 30px;
    font-size: 12px;
  }

  /* Main */
  main {
    min-height: calc(100vh - 120px);
  }

  /* Search */

  form {
    margin-top: 10px;
  }

  input[type="text"] {
    height: 30px;
    width: 250px;
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 15px;
  }

  input[type="submit"] {
    height: 30px;
    width: 90px;
  }

  form p {
    font-size: 12px;
  }

  /* Footer */

  footer img {
    width: 20px;
  }

  footer p,
  footer a {
    font-size: 12px;
  }
}
